{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "objectWrap": "preserve",
  "printWidth": 110,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}